body {
  font-family: Arial;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  gap: 30px;
}

.box {
  width: 200px;
  padding: 20px;
  background: #ffe08a;
  border: 5px solid #444;
}

/* Apply border-box */
.border-box {
  box-sizing: border-box;
  background: #9fe2bf;
}
