body {
  background: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-row {
  display: flex;
  gap: 25px;
}

.fx-btn {
  padding: 12px 20px;
  background: #0077ff;
  color: #fff;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.fx-btn:hover {
  transform: scale(1.1);
  background: #005ed1;
}
