*{margin:0;padding:0;box-sizing:border-box;}
body{padding:20px;font-family:Arial, sans-serif;}

.compare{
    display:flex;
    gap:20px;
}

img{
    width:100%;
    transition:.3s;
}

.filtered{filter:brightness(60%);}
.filtered:hover{filter:none;}

/* Stack below 700px */
@media(max-width:700px){
    .compare{flex-direction:column;}
}
