.navbar {
  background: #111;
  padding: 12px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.navbar a {
  color: #fff;
  padding: 8px;
  transition: 0.3s;
  text-decoration: none;
}

.navbar a:hover {
  background: #444;
}

.active {
  background: purple;
}
