body { font-family: Arial; padding: 40px; }

input, textarea {
  display: block;
  width: 250px;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #888;
}

input:focus, textarea:focus {
  outline: 3px solid purple;
  outline-offset: 4px;
}
