* {margin: 0; padding: 0; box-sizing: border-box; font-family: Arial;}

header nav {
    display: flex;
    justify-content: space-around;
    background: #222;
    padding: 15px;
}

nav a { color: white; text-decoration: none; }

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.box {
    background: #eee;
    padding: 40px;
    width: 200px;
    text-align: center;
    transition: 0.3s;
}

.box:hover {
    transform: rotate(2deg);
}

footer {
    text-align: center;
    padding: 15px;
    background: #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 700px){
    main { flex-direction: column; align-items: center; }
}
